<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register a developer account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <h1>Register your dev account</h1>
        <br>
        <label>Name</label><br>
        <input type="text" v-model="name" /><br>
        <label>Logo</label><br>
        <input type="text" v-model="logo" placeholder="https://abcd.efgh/ijkl.jpg" /><br>
        <label>POST Callback URL</label><br>
        <input type="text" v-model="callback" placeholder="https://abcd.efgh/callback" /><br>
        <template v-if="error">
            <br>
            <p class="error" v-html="error" />
            <br>
        </template>
        <br>
        <input v-if="!publicKey" type="submit" value="Register" @click="register" />
        <div v-else>
            Public key: {{ publicKey }}<br>
            Private key: {{ privateKey }}
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>