<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register a developer account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body>
    <div id="dancing-man"></div>
    <div id="app">
        <h1>New deveveloper account</h1>
        <br>
        <div class="form">
            <input class="input" type="text" v-model="name" placeholder="Name" /><br>
            <input class="input" type="text" v-model="logo" placeholder="Logo" /><br>
            <input class="input" type="text" v-model="callback" placeholder="POST Callback URL" /><br>
            <template v-if="error">
                <br>
                <p class="error" v-html="error" />
                <br>
            </template>
            <br>
            <input class="button" v-if="!publicKey" type="submit" value="Register" @click="register" />
            <div class="result" v-else>
                <strong>Public key:</strong><br>
                {{ publicKey }}<br>
                <strong>Private key:</strong><br>
                {{ privateKey }}
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>